# Environnement Python
venv/
env/
__pycache__/
*.pyc
.env

# Données
data/raw/*
data/processed/*
*.csv
*.xlsx

# IDE
.vscode/
.idea/
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

# Logs
*.log