# Données
data/raw/*
data/processed/*
*.csv
*.xlsx

# Environnement et Secrets
.env
.venv/
venv/
env/
__pycache__/
*.pyc

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs et Notebooks
*.log
.ipynb_checkpoints/